<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link th:href="@{/css/pageStyle.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main-block">
    <header th:insert="fragment/header"></header>
    <div class="inner-block">
        <p class="title-text">Последние загруженные файлы:</p>
        <div class="inner-block" th:each="content : ${contentList}">
            <p><a class="title-text" th:href="@{/content/{contentId}(contentId=${content.getContentId()})}" th:text="${content.getContentTitle()}"></a></p>
            <p><a th:text="${content.getContentDescription()}"></a></p>
        </div>
    </div>
</div>
</body>
</html>